<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment :: head"></head>

<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>

<body class="w3-pale-red">

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
    <a href="Home" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
    <a href="About" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
    <a href="Recipes" onclick="w3_close()" class="w3-bar-item w3-button">RECIPES</a>
    <a href="Contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
    <a href="https://aleandelebake.com/" onclick="w3_close()" class="w3-bar-item w3-button">SHOP</a>
    <a href="https://www.facebook.com/aleandelebake/" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
    <a href="https://www.instagram.com/aleandelebake/" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
    <a href="https://www.pinterest.com/aleandelebake/" class="w3-bar-item w3-button"><i class="fa fa-pinterest"></i></a>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
</div>

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

    <!-- Header -->
    <header th:replace="fragment :: header"></header>


        <!-- Page content -->
        <div class="w3-content" style="max-width:1100px">

            <!-- About Section -->
            <div class="w3-row w3-padding-64" id="about">
                <div class="w3-col m6 w3-padding-large w3-hide-small">
                    <img src="/images/Bites/PaintedMAcs.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
                </div>

                <div class="w3-col m6 w3-padding-large">
                    <h1 class="w3-center">OUR SERVICES</h1><br>
                    <h5 class="w3-center">PRE ORDER & PURCHASE BAKED GOODS</h5>
                    <p class="w3-text-grey">You can contract our catering services or order individual
                        baked goods through our site <a href="https://aleandelebake.com/">www.aleandelebake.com</a> </p><br>

                    <h5 class="w3-center">BE THE STAR BAKER!</h5>
                    <p class="w3-text-grey w3-hide-medium">At Ale&Ele Bake we offer you the opportunity of being the star baker at your parties and events. We can visit your home
                        and provide you with individual or group training to master the following: </p>


                    <ul class="w3-text-grey w3-hide-medium">
                        <li>Basic Cake baking, leveling and decorating</li>
                        <li>Fondant techniques</li>
                        <li>Meringue and Buttercreams</li>
                        <li>Basic cookie decorating skills (Royal Icing)</li>
                        <li>Basic French Macarons</li>
                        <li>Tarts and Pie Doughs</li>
                    </ul>


                </div>
            </div>

            <!-- Contact Section -->
        <div class="w3-container w3-padding-64" id="contact">
                <div class="w3-col l6 w3-padding-large">
            <p class="w3-text-grey w3-hide-medium">For information on the workshop of your interest,
                please fill out the form below.</p>
            <p class="w3-text-grey w3-hide-medium">To place a catering order, please visit our <a href="https://aleandelebake.com/">website</a>. <br>
                For baking questions and comments, please use the form below:</p><br><br>
            <form action="/action_page.php" target="_blank">
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
                <p><input class="w3-input w3-padding-16" type="email" placeholder="johndoe@email.com" required name="Email"></p>
                <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date" value="2019-12-15T20:00"></p>
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Comment" required name="Message"></p>

                <p><select class="w3-select w3-padding-16" required name="Workshops">
                    <option value="">Choose the workshop of your interest</option>
                    <option value="1">Basic Cake baking, leveling and decorating</option>
                    <option value="2">Fondant techniques</option>
                    <option value="3">Meringue and Buttercreams</option>
                    <option value="4">Basic cookie decorating skills (Royal Icing)</option>
                    <option value="5">Basic French Macarons</option>
                    <option value="6">Tarts and Pie Doughs</option>
                </select></p>
                <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND</button></p>
            </form>
        </div>

            <div class="w3-col l6 w3-padding-large">
                <img src="/images/Bites/iceCreamCupcakes.jpg" class="w3-round w3-image w3-opacity-min" alt="Ice Cream Cupcakes" style="width:100%">
            </div>
        </div>


</body>

<footer th:replace="fragment :: footer">
</footer>
</html>