<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment :: head"></head>


<div class="w3-bar w3-black w3-hide-small">
    <a href="Home" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
    <a href="About" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
    <a href="Services" onclick="w3_close()" class="w3-bar-item w3-button">SERVICES</a>
    <a href="Contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
    <a href="Recipes" onclick="w3_close()" class="w3-bar-item w3-button">ALL RECIPES</a>
    <a href="https://aleandelebake.com/" onclick="w3_close()" class="w3-bar-item w3-button">SHOP</a>

    <a href="https://www.facebook.com/aleandelebake/" class="w3-bar-item w3-button"><i
            class="fa fa-facebook-official"></i></a>
    <a href="https://www.instagram.com/aleandelebake/" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
    <a href="https://www.pinterest.com/aleandelebake/" class="w3-bar-item w3-button"><i class="fa fa-pinterest"></i></a>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i
            class="fa fa-search"></i></a>

</div>


<body class="w3-white">
<div class="w3-content" style="max-width:1600px">

    <!-- Header -->
    <header th:replace="fragment :: header"></header>
    <!-- Page content -->
    <hr>
    <div class="w3-content" style="max-width:1100px">

        <!-- Ingredient Section -->
        <div class="w3-row w3-padding-64" id="ingredients">
            <div class="w3-col m6 w3-padding-large w3-hide-small">
                <img src="/images/Cookies/Bunuelos.jpg" class="w3-round w3-image w3-opacity-min" alt="Bunuelos"
                     width="600" height="750">
            </div>

            <div class="w3-col m6 w3-padding-large">
                <h1 class="w3-center">BUÑUELOS DE VIENTO</h1><br>
                <h6 class="w3-center">December 12,2019</h6>
                <p class="w3-text-grey">Celebrate Christmas the Mexican way with these crispy churro-flavored
                    buñuelos</p>
                <div class="w3-container">
                    <p class="fa fa-hourglass-end" style='font-size:16px;color:gray'> Prep time: 30 min. </p> <br>
                    <p class="fa fa-cutlery" style='font-size:16px;color:gray'> Portions: 20 pieces </p> <br>
                    <p class="fa fa-thumbs-o-up" style='font-size:16px;color:gray'> Difficulty: Easy </p> <br><br>
                </div>

                <h4 class="w3-center">INGREDIENTS</h4>

                <ul class="w3-text-grey w3-hide-medium">
                    <li>175 gr. AP flour</li>
                    <br>
                    <li>300 ml. of milk</li>
                    <br>
                    <li>A pinch of salt</li>
                    <br>
                    <li>A tsp of vanilla extract</li>
                    <br>
                    <li>1 cup white sugar</li>
                    <br>
                    <li>2 tsp of cinnamon</li>

                </ul>
            </div>
        </div>
        <hr>


        <!-- Procedure Section -->
        <div class="w3-row w3-padding-64" id="menu">
            <div class="w3-col l6 w3-padding-large">
                <h4 class="w3-center">PROCEDURE</h4>

                <ol class="w3-text-grey w3-hide-medium">
                    <li>Place in a blender the flour, milk, vanilla extract and salt.</li>
                    <br>
                    <li>Place oil in two recipients and heat.</li>
                    <br>
                    <li>Once oil is ready, in one recipient place the mold for about a minute.</li>
                    <br>
                    <li>Pat the mold in a paper towel to remove excess oil, and immediately after, insert the mold in
                        the flour mix,
                        making sure that the mix doesn't cover the mold.
                    </li>
                    <br>
                    <li>Submerge the mold in the oil and shake it gently in order to release the buñuelo.
                        If your mold is brand new, you might need to use the tip of a fork to push it out of the mold
                    </li>
                    <br>
                    <li>Once the buñuelo is golden place it in a paper towel to remove the excess oil</li>
                    <br>
                    <li>Mix the sugar an cinnamon, and toss the buñuelos in this mix.</li>
                    <br>
                    <li>Enjoy!</li>
                    <br>
                </ol>

                <p class="w3-text-grey w3-hide-small">NOTE: If you want to keep your buñuelos fresh, place them in a
                    tight cello bag once they are cold. This will keep them crispy for up to five days.</p>
            </div>

            <div class="w3-col l6 w3-padding">
                <img src="/images/Cookies/Bunuelos2.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu"
                     style="width:100%">
            </div>
            <p class="w3-left">
                <button class="w3-button w3-white w3-border" onclick="likeFunction(this)"><b><i class="fa fa-heart"></i>
                    Like</b></button>
            </p>

            <hr>


            <div class="w3-row w3-margin-bottom" id="demo1" style="max-width:1200px">
                <h4>COMMENT</h4>
                <form method="post" th:object="${comment}">
                    <div class="form-group">

                        <p><input class="w3-input w3-border" name="name" type="text"
                                  placeholder="Enter your name" style="width:100%"></p>
                        <p><input class="w3-input w3-border" name="date" type="date"
                                  placeholder="Enter date" style="width:100%"></p>
                        <p><input class="w3-input w3-border" name="message" type="text"
                                  placeholder="Enter your comment" style="width:100%"><b></b></p>
                        <p>
                            <button class="w3-button w3-block w3-pale-red" type="submit" value="Add Comment">Add
                                Comment
                            </button>
                        </p>
                    </div>

                </form>

                <div class="w3-row w3-margin-bottom" th:object="${comment}">

                    <div class="w3-col l10 m9" th:each="comment: ${commentsdb}">

                        <hr>
                        <!--esto tiene que ser igual al model.addAttribute("commentsdb", commentDao.findAll());-->
                        <p>
                            <span class="w3-opacity w3-medium" th:text="${comment.name}"></span>
                            <span class="w3-opacity-max w3-pale-blue w3-small w3-border-gray"
                                  th:text="${comment.date}"></span>
                        </p>


                        <p>
                            <span th:text="${comment.message}"></span>
                        </p>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


</body>


<footer th:replace="fragment :: footer">
</footer>

<script>


function likeFunction(x) {
  x.style.fontWeight = "bold";
  x.innerHTML = "✓ Liked";
}

</script>
</html>