<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Ale&Ele Bake</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<div class="w3-bar w3-black w3-hide-small">
    <a href="Home" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
    <a href="About" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
    <a href="Services" onclick="w3_close()" class="w3-bar-item w3-button">SERVICES</a>
    <a href="Contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
    <a href="https://aleandelebake.com/" onclick="w3_close()" class="w3-bar-item w3-button">SHOP</a>

    <a href="https://www.facebook.com/aleandelebake/" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
    <a href="https://www.instagram.com/aleandelebake/" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
    <a href="https://www.pinterest.com/aleandelebake/" class="w3-bar-item w3-button"><i class="fa fa-pinterest"></i></a>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>

</div>


<body class="w3-white">
<div class="w3-content" style="max-width:1600px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding w3-pale-red">
        <!-- <h1 class="w3-xxxlarge w3-text-white"><b>Ale & Ele Bake</b></h1>-->
        <img src="/images/logomedium.png"  width="20%" alt="Logo">



    </header>


<!-- Top menu -->

</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:20px">

    <div class="w3-middle">
        <div class="w3-white w3-xlarge">
            <div class="w3-center w3-padding-16" >RECIPES</div>
        </div>


    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
        <div class="w3-half">
            <img src="/images/Cookies/GingerHouse.jpg" alt="Gingerbread House" style="width:100%">
            <h3>Choco-Gingerbread House</h3>
            <p>Make your un chocolate cookie house from scratch using royal icing and fondant decor.</p>
        </div>
        <div class="w3-half">
            <img src="/images/Cakes/Bundt.jpg" alt="Christmas Bundt" style="width:100%">
            <h3>Easy Christmas Bundt</h3>
            <p>Nothing like an orange-cherry bundt to start <br>
                 warming up to the holidays. </p>
        </div>
    </div>
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
        <div class="w3-half">
            <img src="/images/Cakes/ChocoMameyCake.jpg" alt="Mango Cake" style="width:100%">
            <h3>Chocolate-Mamey No Bake Tart</h3>
            <p>The velvety texture of the mamey fruit and the chocolate cover make of this tart a decadent choice.</p>

        </div>
        <div class="w3-half">
            <img src="/images/Bites/PaintedMacs.jpg" alt="Pasta and Wine" style="width:100%">
            <h3>Hand Painted Macarons</h3>
            <p>Use edible paints and your favorite spirits to decorate these <br>
                delicious French macarons.</p>
        </div>
    </div>




    <!-- Pagination -->
    <div class="w3-center w3-padding-32">
        <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
            <a href="#" class="w3-bar-item w3-black w3-button">1</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
        </div>
    </div>


</body>
<footer class="w3-container w3-pale-red w3-center" style="padding:32px">

    <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">www.aleandelebake.com</a></p>
    <p>Copyright © 2018 ale&ele bake - All Rights Reserved.</p>
    <p><img src="/images/logomedium.png"  width="15%" alt="Logo"></p>
</footer>

</html>