<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment :: head">

<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>

<body class="w3-pale-red">

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
    <a href="Home" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
    <a href="About" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
    <a href="Recipes" onclick="w3_close()" class="w3-bar-item w3-button">RECIPES</a>
    <a href="Services" onclick="w3_close()" class="w3-bar-item w3-button">SERVICES</a>
    <a href="https://aleandelebake.com/" onclick="w3_close()" class="w3-bar-item w3-button">SHOP</a>
    <a href="https://www.facebook.com/aleandelebake/" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
    <a href="https://www.instagram.com/aleandelebake/" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
    <a href="https://www.pinterest.com/aleandelebake/" class="w3-bar-item w3-button"><i class="fa fa-pinterest"></i></a>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
</div>

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

    <!-- Header -->
    <header th:replace="fragment :: header"></header>


        <!-- Page content -->
        <div class="w3-content" style="max-width:1100px">

            <!-- Contact Section -->
            <div class="w3-row w3-padding-64" id="contactus">
                <div class="w3-col m6 w3-padding-large w3-hide-small">
                    <img src="/images/Bites/CoconutMacs.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
                </div>

                <div class="w3-col m6 w3-padding-large">
                    <h1 class="w3-center">CONTACT US</h1><br>
                    <h5 class="w3-center">SEND US YOUR BAKING COMMENTS OR QUESTIONS</h5>
                    <p class="w3-text-grey">You can contract our catering services or order individual
                        baked goods through our site <a href="https://aleandelebake.com/">www.aleandelebake.com</a> </p><br>
                    <p class="w3-text-grey w3-hide-medium">For baking questions and comments, please use the form below:</p>

                    <form method="post" th:object="${msg}">
                        <div class="form-group">
                    <form method="post" th:object="${msg}">
                        <div class="form-group">
                        <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" name="*{name"></p>
                        <p><input class="w3-input w3-padding-16" type="email" placeholder="youremail@email.com" name="email"></p>
                        <p><input class="w3-input w3-padding-16" type="date" placeholder="Date and time" name="date"></p>
                        <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Comment" name="msg"></p>
                        <p><button class="w3-button w3-white w3-section" value="Add Msg" type="submit">SEND MESSAGE</button><br>
                        </div>

                    </form>

                  <!--  <form method="post" th:object="${comment}">
                        <div class="form-group">

                            <label class="w3-text-gray" th:for="name"><b>Name</b></label></p>
                            <input class="w3-container" th:field="*{name}" />
                            <span th:errors="*{name}" class="error"></span>
                        </div>

                        <div class="form-group">
                            <label class="w3-text-gray" th:for="email"><b>Email</b></label>
                            <input class="form-control" th:field="*{email}" />
                            <span th:errors="*{email}" class="error"></span>
                        </div>

                        <div class="form-group">
                            <label class="w3-text-gray" th:for="date"><b>Date</b></label>
                            <input class="form-control" th:field="*{date}" />
                            <span th:errors="*{date}" class="error"></span>
                        </div>

                        <div class="form-group">
                            <label class="w3-text-gray" th:for="msg"><b>Message</b></label>
                            <input class="form-control" th:field="*{msg}" />
                            <span th:errors="*{msg}" class="error"></span>
                        </div>
                    </form>-->

                </div>

</body>

<footer th:replace="fragment :: footer">
</footer>
</html>




