<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Ale&Ele Bake</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>-->

<head th:replace="fragment :: head"></head>

<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>

<body class="w3-light-grey">


<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="About" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
    <a href="Services" onclick="w3_close()" class="w3-bar-item w3-button">SERVICES</a>
    <a href="Contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
    <a href="Recipes" onclick="w3_close()" class="w3-bar-item w3-button">RECIPES</a>
    <a href="https://aleandelebake.com/" onclick="w3_close()" class="w3-bar-item w3-button">SHOP</a>

    <a href="https://www.facebook.com/aleandelebake/" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
    <a href="https://www.instagram.com/aleandelebake/" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
    <a href="https://www.pinterest.com/aleandelebake/" class="w3-bar-item w3-button"><i class="fa fa-pinterest"></i></a>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
</div>



<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">
    <header th:replace="fragment :: header"></header>

    <!-- Header
    <header class="w3-container w3-center w3-padding w3-white">
        <img src="/images/logomedium.png"  width="20%" alt="Logo">
    </header>-->


    <!-- Image header -->
    <header class="w3-display-container w3-wide" id="home">
       <img class="w3-image" src="/images/creampuffs.jpg" alt="Baking Blog" width="1400">

        <div class="w3-display-topleft w3-padding-large">
            <h1 class="w3-text-white">Welcome to Ale & Ele Bake</h1>
            <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>Learn, Experiment, Enjoy!</b></h1>
            <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity-max w3-hover-opacity-off" onclick="document.getElementById('subscribe').style.display='block'">SUBSCRIBE</button></h6>


        </div>

    </header>



    <!-- Grid -->
    <div class="w3-row w3-padding w3-border">

        <!-- Blog entries -->
        <div class="w3-col l8 s12">

            <!-- Blog entry -->
            <div class="w3-container w3-white w3-margin w3-padding-large">
                <div class="w3-center">
                    <h3>Gingerbread House</h3>
                    <h5>Bake and decor your own gingerbread house! <span class="w3-opacity">December 6, 2019</span></h5>
                </div>

                <div class="w3-justify">
                    <img src="/images/Cookies/GingerHouse.jpg" alt="Ginger House" style="width:100%"  class="w3-padding-16">
                    <p><strong>Gingerbread Houses!</strong> I am crazy about them these days. Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor
                        magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

                </div>
            </div>
            <hr>

            <!-- Blog entry -->
            <div class="w3-container w3-white w3-margin w3-padding-large">
                <div class="w3-center">
                    <h3>NOT YOUR MOM'S APPLE CAKE</h3>
                    <h5>Ricotta filled sponge apple cake <span class="w3-opacity">December 2, 2019</span></h5>
                </div>

                <div class="w3-justify">
                    <img src="/images/Cakes/AppleCake.jpg" alt="Apple Cake" style="width:100%" class="w3-padding-16">
                    <p><strong>My mom's famous apple cake!</strong> Celebrate the holidays with this apple delight!</p>
                    <p>Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies
                        mi non congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>

                </div>
            </div>



            <!-- END BLOG ENTRIES -->
        </div>

        <!-- About/Information menu -->
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-white w3-margin">
                <img src="/images/AleyEle.jpg" alt="Ale & Ele" style="width:100%" class="w3-normal">

                <div class="w3-container">
                    <h4>ABOUT US</h4>
                    <p class="w3-text-grey"> We are mother and son. I'm Ale, a self-taught baker, born and raised in Mexico,
                        where I had the great fortune of spending my youth in my parents' farm.
                        The sweet smell of the freshly baked apple bread
                        that my mom made every morning at the farm is my most precious childhood memory.<br><br>
                        When I became a mother, I wanted to recreate for Ele (pictured above), my three-year old son,
                        that love-at-first-bite experience me and my siblings had when
                        tasting my mother's baked goods. I just had a tiny problem: I didn't know how to bake.<br><br>
                        My kitchen became the testing lab for many video, blog and print recipes.
                        Most of my relatives and close friends were the guinea pigs for these awful
                        oven experiments. <br><br>
                        My first pastries were terrible, but little by little,
                        I found a way to master the skill and combine
                        ingredients and even integrate some Mexican and Latin American flavors in my creations.
                        They were so tasty, even my picky son wanted to help me in the kitchen as a "flavor inspector".<br><br>
                        That's how Ale&Ele Bake was born. <br><br>

                        <a href="About" onclick="w3_close()"  class="w3-button w3-pale-red w3-text-gray">More...</a>
                    </p>

                </div>
            </div>
            <hr>

            <!-- Popular Posts -->
            <div class="w3-pale-red w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Popular Posts</h4>
                </div>
                <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16">
                        <img src="/images/Breads/Conchas.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Mexican Conchas</span>
                        <br>
                        <span>Sed mattis nunc</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="/images/Breads/Roscas.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Chocolate Wreaths</span>
                        <br>
                        <span>Praes tinci sed</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="/images/Tarts/Crostata.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Peach Crostata</span>
                        <br>
                        <span>Ultricies congue</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="/images/Cakes/ChurroBundt.jpg" alt="Churro Bundt" class="w3-left w3-margin-right w3-normal" style="width:50px">
                        <span class="w3-large">Churro Bundt</span>
                        <br>
                        <span>Lorem ipsum dipsum</span>
                    </li>
                </ul>
            </div>



            <hr>
            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Follow Us</h4>
                </div>
                <div class="w3-container w3-xlarge w3-padding-24 w3-center">
                    <a href="https://www.facebook.com/aleandelebake/"> <i class="fa fa-facebook-official w3-hover-opacity"></i></a>
                    <a href="https://www.instagram.com/aleandelebake/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
                    <a href="https://www.pinterest.com/aleandelebake/"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>

                </div>
            </div>

            <hr>

            <!-- Subscribe -->
            <!-- <form method="post">-->
            <form th:object="${User}" th:action="@{/user}" method="post">
                <div class="subscribe">
                    <div class="w3-white w3-margin">
                        <div class="w3-container w3-padding w3-black">
                            <h4>Subscribe</h4>
                        </div>
                        <div class="w3-container w3-red-pale">
                            <p>Enter your e-mail below and get notified on the latest blog posts.</p>
                            <p><input class="w3-input w3-border" type="text"
                                      placeholder="Enter e-mail" style="width:100%"></p>
                            <p><a href="User" onclick="w3_close()" class="w3-button w3-block w3-pale-red">Subscribe</a></p>
                        </div>
                    </div>
                </div>
            </form>

            <hr>

            <!-- Tags -->
            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Tags</h4>
                </div>
                <div class="w3-container w3-white">
                    <p>
                        <span class="w3-tag w3-black w3-margin-bottom">Baking</span> <span class="w3-tag w3-pale-red w3-small w3-margin-bottom">Desserts</span> <span class="w3-tag w3-pale-red w3-small w3-margin-bottom">Cakes</span>
                        <span class="w3-tag w3-pale-red w3-small w3-margin-bottom">Buttercream</span> <span class="w3-tag w3-pale-red w3-small w3-margin-bottom">Cookies</span> <span class="w3-tag w3-pale-red w3-small w3-margin-bottom">Sweets</span>
                        <span class="w3-tag w3-pale-red w3-small w3-margin-bottom">Flour</span> <span class="w3-tag w3-pale-red w3-small w3-margin-bottom">Bread</span> <span class="w3-tag w3-pale-red w3-small w3-margin-bottom">Mexican</span>
                        <span class="w3-tag w3-pale-red w3-small w3-margin-bottom">Macarons</span> <span class="w3-tag w3-pale-red w3-small w3-margin-bottom">Meringues</span> <span class="w3-tag w3-pale-red w3-small w3-margin-bottom">Bites</span>
                        <span class="w3-tag w3-pale-red w3-small w3-margin-bottom">Tarts</span> <span class="w3-tag w3-pale-red w3-small w3-margin-bottom">Pie</span>
                    </p>
                </div>
            </div>
            <!-- END About/Intro Menu -->
        </div>

        <!-- END GRID -->
    </div>

    <!-- END w3-content -->
</div>

<!-- Subscribe Modal



<div id="subscribe" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content" style="padding:32px">
        <div class="w3-container w3-red-pale">
            <i onclick="document.getElementById('subscribe').style.display='none'"
               class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
            <h2 class="w3-wide">SUBSCRIBE</h2>
            <p>Join my mailing list to receive updates on the latest blog posts and other things.</p>
            <form method="post">
            <p><input class="w3-input w3-border" type="email" name="email" placeholder="Enter e-mail"></p>
            <input type="submit" class="w3-button w3-block w3-padding-large w3-pale-red w3-margin-bottom"
                   onclick="document.getElementById('subscribe').style.display='none'">Subscribe</input>
</form>
        </div>
    </div>
</div> -->
<!-- Footer
<footer class="w3-container w3-pale-red w3-center" style="padding:32px">

    <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <p>Powered by <a href="https://www.aleandelebake.com" target="_blank">www.aleandelebake.com</a></p>
    <p>Copyright © 2018 ale&ele bake - All Rights Reserved.</p>
    <p><img src="/images/logomedium.png"  width="15%" alt="Logo"></p>
</footer>-->






</body>
<footer th:replace="fragment :: footer">
</footer>
</html>