<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Ale&Ele Bake</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>


</head>


</div>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Ale&Ele Bake</a>


    <nav th:fragment="navigation">
        <a href="/home">Home</a>
        <a href="/about">About</a> |
        <a href="/recipes">Recipes & Techniques</a> |
        <a href="/contact">Contact Us</a>
        <a href="/services">Services</a>
    </nav>
    ​
    </div>
</body>

    <div class="footer">
    <h2>Copyright © 2018 Ale&Ele Bake - All Rights Reserved.</h2>
    </div>

</html>